body {
	background: url(../img/rainbowBG.jpg) no-repeat center;
	background-size: 150%;
	background-position: cover;

}

#questionForm {
	text-align: center;
	width: 65%;
	padding: 5% 5% 2% 5%;
	border: 2px solid grey;

}

.questionWrap {
	text-align: left;
	display: block;

}